<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Access DB2 on Cloud using Python

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Create a table
*   Insert data into the table
*   Query data from the table
*   Retrieve the result set into a pandas dataframe
*   Close the database connection

**Notice:** Please follow the instructions given in the first Lab of this course to Create a database service instance of Db2 on Cloud.

## Task 1: Import the `ibm_db` Python library

The `ibm_db` [API ](https://pypi.python.org/pypi/ibm_db/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01) provides a variety of useful Python functions for accessing and manipulating data in an IBMÂ® data server database, including functions for connecting to a database, preparing and issuing SQL statements, fetching rows from result sets, calling stored procedures, committing and rolling back transactions, handling errors, and retrieving metadata.

We import the ibm_db library into our Python Application

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [1]:
import ibm_db

In [8]:
help(ibm_db)

Help on module ibm_db:

NAME
    ibm_db - IBM DataServer Driver for Python.

CLASSES
    builtins.object
        IBM_DBClientInfo
        IBM_DBConnection
        IBM_DBServerInfo
        IBM_DBStatement

    class IBM_DBClientInfo(builtins.object)
     |  IBM DataServer Client Information object
     |
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  APPL_CODEPAGE
     |      Application Codepage
     |
     |  CONN_CODEPAGE
     |      Connection Codepage
     |
     |  DATA_SOURCE_NAME
     |      Data Source Name
     |
     |  DRIVER_NAME
     |      Driver Name
     |
     |  DRIVER_ODBC_VER
     |      Driver ODBC Version
     |
     |  DRIVER_VER
     |      Driver Version
     |
     |  ODBC_SQL_CONFORMANCE
     |      ODBC SQL Conformance
     |
     |  ODBC_VER
     |      ODBC Version

    class IBM_DBConnection(builtins.object)
     |  IBM DataServer connection object
     |
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.

    class IBM_DBServerInfo(builtins.object)
     |  IBM DataServer Information object
     |
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  DBMS_NAME
     |      Database Server Name
     |
     |  DBMS_VER
     |      Database Server Version
     |
     |  DB_CODEPAGE
     |      Database Codepage
     |
     |  DB_NAME
     |      Database Name
     |
     |  DFT_ISOLATION
     |      Default Server Isolation
     |
     |  IDENTIFIER_QUOTE_CHAR
     |      Character to quote an identifier
     |
     |  INST_NAME
     |      Database Server Instance Name
     |
     |  ISOLATION_OPTION
     |      Supported Isolation Levels
     |
     |  KEYWORDS
     |      Reserved words
     |
     |  LIKE_ESCAPE_CLAUSE
     |      TRUE if the database server supports the use of % and _ wildcard characters
     |
     |  MAX_COL_NAME_LEN
     |      Maximum length of column name supported by the database server in bytes
     |
     |  MAX_IDENTIFIER_LEN
     |      Maximum length of an SQL identifier supported by the database server, expressed in characters
     |
     |  MAX_INDEX_SIZE
     |      Maximum size of columns combined in an index supported by the database server, expressed in bytes
     |
     |  MAX_PROC_NAME_LEN
     |      Maximum length of a procedure name supported by the database server, expressed in bytes
     |
     |  MAX_ROW_SIZE
     |      Maximum length of a row in a base table supported by the database server, expressed in bytes
     |
     |  MAX_SCHEMA_NAME_LEN
     |      Maximum length of a schema name supported by the database server, expressed in bytes
     |
     |  MAX_STATEMENT_LEN
     |      Maximum length of an SQL statement supported by the database server, expressed in bytes
     |
     |  MAX_TABLE_NAME_LEN
     |      Maximum length of a table name supported by the database server, expressed in bytes
     |
     |  NON_NULLABLE_COLUMNS
     |      Connectionf the database server supports columns that can be defined as NOT NULL
     |
     |  PROCEDURES
     |      True if CALL statement is supported by database server
     |
     |  SPECIAL_CHARS
     |      Characters that can be used in an identifier
     |
     |  SQL_CONFORMANCE
     |      ANSI/ISO SQL-92 Specification Conformance

    class IBM_DBStatement(builtins.object)
     |  IBM DataServer cursor object
     |
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.

FUNCTIONS
    active(...)
        Checks if the specified connection resource is active

    autocommit(...)
        Returns or sets the AUTOCOMMIT state for a database connection

    bind_param(...)
        Binds a Python variable to an SQL statement parameter

    callproc(...)
        Returns a tuple containing OUT/INOUT variable value

    check_function_support(...)
        return true if fuction is supported otherwise return false

    client_info(...)
        Returns a read-only object with information about the DB2 database client

    close(...)
        Close a database connection

    column_privileges(...)
        Returns a result set listing the columns and associated privileges for a table.

    columns(...)
        Returns a result set listing the columns and associated metadata for a table

    commit(...)
        Commits a transaction

    conn_error(...)
        Returns a string containing the SQLSTATE returned by the last connection attempt

    conn_errormsg(...)
        Returns an error message and SQLCODE value representing the reason the last database connection attempt failed

    conn_warn(...)
        Returns a warning string containing the SQLSTATE returned by the last connection attempt

    connect(...)
        Connect to the database

    createdb(...)
        Create db

    createdbNX(...)
        createdbNX

    cursor_type(...)
        Returns the cursor type used by a statement resource

    dropdb(...)
        Drop db

    exec_immediate(...)
        Prepares and executes an SQL statement.

    execute(...)
        Executes an SQL statement that was prepared by ibm_db.prepare()

    execute_many(...)
        Execute SQL with multiple rows.

    fetch_assoc(...)
        Returns a dictionary, indexed by column name, representing a row in a result set

    fetch_both(...)
        Returns a dictionary, indexed by both column name and position, representing a row in a result set

    fetch_row(...)
        Sets the result set pointer to the next row or requested row

    fetch_tuple(...)
        Returns an tuple, indexed by column position, representing a row in a result set

    field_display_size(...)
        Returns the maximum number of bytes required to display a column

    field_name(...)
        Returns the name of the column in the result set

    field_nullable(...)
        Returns indicated column can contain nulls or not

    field_num(...)
        Returns the position of the named column in a result set

    field_precision(...)
        Returns the precision of the indicated column in a result set

    field_scale(...)
        Returns the scale of the indicated column in a result set

    field_type(...)
        Returns the data type of the indicated column in a result set

    field_width(...)
        Returns the width of the indicated column in a result set

    foreign_keys(...)
        Returns a result set listing the foreign keys for a table

    free_result(...)
        Frees resources associated with a result set

    free_stmt(...)
        Frees resources associated with the indicated statement resource

    get_db_info(...)
        Returns an object with properties that describe the DB2 database server according to the option passed

    get_last_serial_value(...)
        Returns last serial value inserted for identity column

    get_num_result(...)
        Returns the number of rows in a current open non-dynamic scrollable cursor

    get_option(...)
        Gets the specified option in the resource.

    next_result(...)
        Requests the next result set from a stored procedure

    num_fields(...)
        Returns the number of fields contained in a result set

    num_rows(...)
        Returns the number of rows affected by an SQL statement

    pconnect(...)
        Returns a persistent connection to a database

    prepare(...)
        Prepares an SQL statement.

    primary_keys(...)
        Returns a result set listing primary keys for a table

    procedure_columns(...)
        Returns a result set listing the parameters for one or more stored procedures.

    procedures(...)
        Returns a result set listing the stored procedures registered in a database

    recreatedb(...)
        recreate db

    result(...)
        Returns a single column from a row in the result set

    rollback(...)
        Rolls back a transaction

    server_info(...)
        Returns an object with properties that describe the DB2 database server

    set_option(...)
        Sets the specified option in the resource

    special_columns(...)
        Returns a result set listing the unique row identifier columns for a table

    statistics(...)
        Returns a result set listing the index and statistics for a table

    stmt_error(...)
        Returns a string containing the SQLSTATE returned by an SQL statement

    stmt_errormsg(...)
        Returns a string containing the last SQL statement error message

    stmt_warn(...)
        Returns a warning string containing the SQLSTATE returned by last SQL statement

    table_privileges(...)
        Returns a result set listing the tables and associated privileges in a database

    tables(...)
        Returns a result set listing the tables and associated metadata in a database

DATA
    ATTR_CASE = 3271982
    CASE_LOWER = 1
    CASE_NATURAL = 0
    CASE_UPPER = 2
    PARAM_FILE = 11
    QUOTED_LITERAL_REPLACEMENT_OFF = 0
    QUOTED_LITERAL_REPLACEMENT_ON = 1
    SQL_API_SQLROWCOUNT = 20
    SQL_ATTR_AUTOCOMMIT = 102
    SQL_ATTR_CURRENT_SCHEMA = 1254
    SQL_ATTR_CURSOR_TYPE = 6
    SQL_ATTR_INFO_ACCTSTR = 1284
    SQL_ATTR_INFO_APPLNAME = 1283
    SQL_ATTR_INFO_PROGRAMNAME = 2516
    SQL_ATTR_INFO_USERID = 1281
    SQL_ATTR_INFO_WRKSTNNAME = 1282
    SQL_ATTR_QUERY_TIMEOUT = 0
    SQL_ATTR_ROWCOUNT_PREFETCH = 2592
    SQL_ATTR_TRUSTED_CONTEXT_PASSWORD = 2563
    SQL_ATTR_TRUSTED_CONTEXT_USERID = 2562
    SQL_ATTR_USE_TRUSTED_CONTEXT = 2561
    SQL_AUTOCOMMIT_OFF = 0
    SQL_AUTOCOMMIT_ON = 1
    SQL_BIGINT = -5
    SQL_BINARY = -2
    SQL_BIT = -7
    SQL_BLOB = -98
    SQL_BLOB_LOCATOR = 31
    SQL_BOOLEAN = 16
    SQL_CHAR = 1
    SQL_CLOB = -99
    SQL_CLOB_LOCATOR = 41
    SQL_CURSOR_DYNAMIC = 2
    SQL_CURSOR_FORWARD_ONLY = 0
    SQL_CURSOR_KEYSET_DRIVEN = 1
    SQL_CURSOR_STATIC = 3
    SQL_DBCLOB = -350
    SQL_DBCLOB_LOCATOR = -351
    SQL_DBMS_NAME = 17
    SQL_DBMS_VER = 18
    SQL_DECFLOAT = -360
    SQL_DECIMAL = 3
    SQL_DOUBLE = 8
    SQL_FALSE = 0
    SQL_FLOAT = 6
    SQL_GRAPHIC = -95
    SQL_INDEX_CLUSTERED = 1
    SQL_INDEX_OTHER = 3
    SQL_INTEGER = 4
    SQL_LONGVARBINARY = -4
    SQL_LONGVARCHAR = -1
    SQL_LONGVARGRAPHIC = -97
    SQL_NUMERIC = 2
    SQL_PARAM_INPUT = 1
    SQL_PARAM_INPUT_OUTPUT = 2
    SQL_PARAM_OUTPUT = 4
    SQL_REAL = 7
    SQL_ROWCOUNT_PREFETCH_OFF = 0
    SQL_ROWCOUNT_PREFETCH_ON = 1
    SQL_SMALLINT = 5
    SQL_TABLE_STAT = 0
    SQL_TINYINT = -6
    SQL_TRUE = 1
    SQL_TYPE_DATE = 91
    SQL_TYPE_TIME = 92
    SQL_TYPE_TIMESTAMP = 93
    SQL_VARBINARY = -3
    SQL_VARCHAR = 12
    SQL_VARGRAPHIC = -96
    SQL_WCHAR = -8
    SQL_WLONGVARCHAR = -10
    SQL_WVARCHAR = -9
    SQL_XML = -370
    USE_WCHAR = 100
    WCHAR_NO = 0
    WCHAR_YES = 1

VERSION
    3.1.0

FILE
    c:\users\dell\anaconda3\lib\site-packages\ibm_db_dlls\ibm_db.dll

When the command above completes, the `ibm_db` library is loaded in your notebook.

## Task 2: Identify the database connection credentials

Connecting to dashDB or DB2 database requires the following information:

*   Driver Name
*   Database name
*   Host DNS name or IP address
*   Host port
*   Connection protocol
*   User ID
*   User Password

**Notice:** To obtain credentials please refer to the instructions given in the first Lab of this course

Now enter your database credentials below

Replace the placeholder values in angular brackets <> below with your actual database credentials

e.g. replace "database" with "BLUDB"

In [14]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "xcx21383"        # e.g. "abc12345"
dsn_pwd = "obn6EJZ71vblyuAF"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "30875"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"

## Task 3: Create the database connection

Ibm_db API uses the IBM Data Server Driver for ODBC and CLI APIs to connect to IBM DB2 and Informix.

Create the database connection

In [15]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  xcx21383 on host:  98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud

## Task 4: Create a table in the database

In this step we will create a table in the database with following details:

<img src = "https://ibm.box.com/shared/static/ztd2cn4xkdoj5erlk4hhng39kbp63s1h.jpg" align="center">

In [16]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

 SQLCODE=-204

## Dont worry if you get this error:

If you see an exception/error similar to the following, indicating that INSTRUCTOR is an undefined name, that's okay. It just implies that the INSTRUCTOR table does not exist in the table - which would be the case if you had not created it previously.

Exception: \[IBM]\[CLI Driver]\[DB2/LINUXX8664] SQL0204N  "ABC12345.INSTRUCTOR" is an undefined name.  SQLSTATE=42704 SQLCODE=-204

In [17]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn,createQuery)

<details><summary>Click here for the solution</summary>

```python
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

createStmt = ibm_db.exec_immediate(conn,createQuery)
```

</details>

## Task 5: Insert data into the table

In this step we will insert some rows of data into the table.

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://ibm.box.com/shared/static/j5yjassxefrjknivfpekj7698dqe4d8i.jpg" align="center">

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [18]:
#Construct the query - replace ... with the insert statement
insertQuery = "INSERT INTO Instructor(ID, FNAME, LNAME, CITY, CCODE) VALUES (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

<details><summary>Click here for the solution</summary>

```python
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)
```

</details>

Now use a single query to insert the remaining two rows of data

In [19]:
#replace ... with the insert statement that inerts the remaining two rows of data
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'),(3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

#execute the statement
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

<details><summary>Click here for the solution</summary>

```python
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"

insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

```

</details>

## Task 6: Query data in the table

In this step we will retrieve data we inserted into the INSTRUCTOR table.

In [20]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

<details><summary>Click here for the solution</summary>

```python
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only)
ibm_db.fetch_both(selectStmt)

```

</details>

In [21]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
       print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 2  FNAME: Raul
 ID: 3  FNAME: Hima

<details><summary>Click here for the solution</summary>

```python
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
    print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

```

</details>

Bonus: now write and execute an update statement that changes the Rav's CITY to MOOSETOWN

In [22]:
#Enter your code below
updateQuery = "UPDATE Instructor SET CITY='MOOSETOWN' WHERE FNAME='Rav'"
selectStmt = ibm_db.exec_immediate(conn, updateQuery)

<details><summary>Click here for the solution</summary>

```python
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

```

</details>

## Task 7: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [23]:
import pandas
import ibm_db_dbi

In [24]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [26]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

'Ahuja'

In [27]:
#print the entire data frame
pdf

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [28]:
pdf.shape

(3, 5)

## Task 8: Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [29]:
ibm_db.close(conn)

True

## Summary

In this tutorial you established a connection to a database instance of DB2 Warehouse on Cloud from a Python notebook using ibm_db API. Then created a table and insert a few rows of data into it. Then queried the data. You also retrieved the data into a pandas dataframe.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2021-11-17        | 2.2     | Lakshmi    | Updated library                    |
| 2021-07-09        | 2.1     | Malika     | Updated connection string          |
| 2020-08-28        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |

<hr>

## <h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>